

.pastas-texts{
    margin-top: 8% ;
}

h2{
    font-family: Orbitron, sans-serif;
}

.startabout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 5%;
}

.startabout .img_aeb {
    width: 50%;
    height: 50%;
    margin: 1% auto; /* Adicionei 'auto' para centralizar a imagem horizontalmente */
    display: block; /* Garante que a margem 'auto' funcione corretamente */
}

.startabout .startabout_text{
    width: 50%;
    margin: 2% auto 1% auto; /* Adicionei 'auto' para centralizar o container horizontalmente */
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.miviva {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    margin: 3% auto; /* Adicionei 'auto' para centralizar o container horizontalmente */
    color: black;
    margin-bottom: 10%;
}

.miviva_2 {
    padding: 2% 1% 2% 1%;   
    display: flex;
    flex-direction: column;
    margin: 0 3%; 
    width: 30vw;
    height: auto; 
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 18px;
    color: #fff; /* Cor do texto claro */
    background-color: rgba(0, 0, 0, 0.609);
    backdrop-filter: blur(10%);
}

.miviva_2 h2 {
    margin: 5% 0% 10% 0% ;  
    font-size: 30px;
}

.miviva_2 h3 {
    margin: 0; /* Remove a margem padrão dos parágrafos */
    font-weight: normal;
    font-size: 20px;
}

/* Estilos adicionais para melhorar a aparência */
.miviva_2:hover {
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
    transition: transform 0.3s ease;
}

footer{
    width: 100%;
    height: auto;
}

.img_aeb {
    transition: filter 0.5s ease;
}

.escurecer {
    filter: brightness(30%);
}

header{
    width: 100%;
    height: auto;
}