/* Estilos adicionais */
:root {
    --text-color: rgba(255, 255, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: var(--text-color); 
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede a barra de rolagem horizontal */
}

header {
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards */
.card {
    background-color: #2E2E2E; /* Cor de fundo dos cartões */
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px 20px; /* Margem adicionada nos lados para espaçamento */
    width: 300px; /* Largura fixa para os cards */
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden; /* Esconde o conteúdo que ultrapassar o cartão */
    position: relative; /* Posição relativa para permitir sobreposição */
}

.card::before {
    content: ''; /* Cria um pseudo-elemento */
    position: absolute; /* Posição absoluta em relação ao card */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(114, 114, 114, 0.5); /* Cor de fundo com transparência */
    filter: blur(10px); /* Desfoque aplicado */
    z-index: -1; /* Coloca o pseudo-elemento abaixo do conteúdo do card */
    border-radius: 10px; /* Mesmo raio de borda que o cartão */
}

.card:hover::before {
    filter: blur(0); /* Remove o desfoque ao passar o mouse */
}

.card:nth-child(-n+3) {
    margin-bottom: 20px; /* Adiciona margem inferior apenas aos três primeiros cards */
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color); 
    font-size: 16px;
    font-weight: bold;
}
input[type="text"],
input[type="file"],
textarea,
button,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #3E3E3E; /* Cor de fundo dos campos de entrada */
    color: var(--text-color); 
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
}
button {
    cursor: pointer;
    background-color: #007AFF; /* Cor de destaque para botões */
    font-weight: bold;
    text-transform: uppercase;
}
select {
    appearance: none; /* Remove o estilo padrão do sistema */
    -webkit-appearance: none; /* Para o Safari */
    -moz-appearance: none; /* Para o Firefox */
    padding-right: 30px; /* Adiciona espaço para a seta do seletor */
}
.checkbox {
    display: flex;
    align-items: center;
    color: var(--text-color); 
    font-size: 16px;
}
.checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.folders {
    width: 100%; /* Garante que a seção de pastas ocupe toda a largura */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre as pastas */
}

.folders a h2 {
    color: var(--text-color); 
    font-size: 24px;
    margin-bottom: 10px;
}

.folder-card {
    background-color: #2E2E2E; /* Cor de fundo dos cartões de pasta */
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Largura fixa para os cartões de pasta */
    box-sizing: border-box;
    overflow: hidden; /* Esconde o conteúdo que ultrapassar o cartão */
}

.folder-card h2 {
    margin-bottom: 10px;
}

.folder-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.folder-gallery img {
    width: calc(50% - 5px);
    border-radius: 5px;
    object-fit: cover;
}

/* Limita a exibição a no máximo 4 imagens dentro do cartão */
.folder-gallery img:nth-child(n+5) {
    display: none;
}
