/* 

NÃO ADICIONAR IMAGENS OU CORES DE FUNDO!!!

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.gallery {
    column-count: 4; /* Ajusta o número de colunas da galeria */
    column-gap: 10px; /* Espaço entre as colunas */
    padding: 20px;
    margin-top: 100px; /* Ajusta conforme necessário para o cabeçalho */
}

.photo {
    break-inside: avoid; /* Evita que as fotos sejam divididas entre colunas */
    margin-bottom: 10px; /* Espaço abaixo de cada foto */
}

.photo img {
    width: 100%; /* A largura da imagem ajusta-se à coluna */
    height: auto; /* A altura ajusta-se para manter a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas */
    object-fit: cover; /* Cobre a área do elemento sem distorcer a proporção */
}

@media (max-width: 768px) {
    .gallery {
        column-count: 2; /* Reduz o número de colunas para telas menores */
    }
}
