/* 

NÃO ADICIONAR IMAGENS OU CORES DE FUNDO!!!

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.gallery {
    column-count: 4; /* Ajusta o número de colunas da galeria */
    column-gap: 10px; /* Espaço entre as colunas */
    padding: 20px;
    margin-top: 100px; /* Ajusta conforme necessário para o cabeçalho */
}

.photo {
    break-inside: avoid; /* Evita que as fotos sejam divididas entre colunas */
    margin-bottom: 10px; /* Espaço abaixo de cada foto */
}

.photo img {
    width: 100%; /* A largura da imagem ajusta-se à coluna */
    height: auto; /* A altura ajusta-se para manter a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas */
    object-fit: cover; /* Cobre a área do elemento sem distorcer a proporção */
}

@media (max-width: 768px) {
    .gallery {
        column-count: 2; /* Reduz o número de colunas para telas menores */
    }
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh; /* Define a altura máxima do modal para ocupar toda a tela */
    overflow: hidden; /* Impede qualquer conteúdo de vazar */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
    backdrop-filter: blur(8px); /* Aplica um efeito de desfoque */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: auto;
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna */
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white; /* Cor de fundo do conteúdo do modal */
    border-radius: 10px; /* Borda arredondada */
    overflow: hidden; /* Impede qualquer conteúdo de vazar */
    margin-top: 5%; /* Adiciona a margem superior */

    max-width: auto;  
    max-height: 70vh; 
    height: 100%;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

#imageMenu {
    position: absolute;
    bottom: 0; /* Distância da parte inferior do modal */
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo branco semi-transparente */
    backdrop-filter: blur(4px); /* Efeito de desfoque */
    margin-bottom: 0; /* Remove a margem inferior */
}

#imageInfo {
    text-align: left;
    margin-bottom: 10px;
}

#downloadLink {
    background-color: #007AFF; /* Cor de destaque do iOS */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#downloadLink:hover {
    background-color: #0056b3; /* Cor de destaque mais escura no hover */
}
