footer {
    background-color: black;
    padding: 20px; /* Ajuste o valor conforme necessário */
    text-align: center;
    z-index: 1;
    margin-top: 20px;
    bottom: 0;
    margin-bottom: 0%;
}

footer h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 10px; /* Ajuste o tamanho da fonte conforme necessário */
    text-transform: uppercase;
    margin-top: 10px; /* Ajuste o valor conforme necessário */
    color: white; /* Adicione a cor do texto */
}

footer .social-links {
    margin-top: 20px;
}

footer a {
    color: white;
    margin: 0 1%;
    text-decoration: none;
    font-size: 10px;
}


.footer-gov {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}



.footer-gov .PEB{
    width: 150%;
}
.footer-gov .AEB{
    width: 70%;
    margin-right: -30px;
}
.footer-gov .MCTI{
    width: 80%;
}
.footer-gov .GOVBR{
    width: 100%;
}