/* 
NÃO ADICIONAR IMAGENS OU CORES DE FUNDO!!!
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}

.split-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    max-width: 700px;
    width: 100%;
    margin: 15px;
    position: relative; 
    z-index: 1; /* Z-index máximo para sobrepor tudo */
}

.login-section {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.239);
    overflow: hidden; 
}

.login-section::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: rgba(114, 114, 114, 0.5); 
    filter: blur(10px); 
    z-index: -1;
    border-radius: 20px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.wrap-input {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #FFFFFF50;
    border: 1px solid #d1d1d6;
}

.icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #ffffff;
    z-index: 10;
}

.input-form {
    width: 100%;
    padding: 12px 20px 12px 48px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
}

.input-form:focus + .focus-input-form::after {
    width: 100%;
}

.container-login-form-btn,
.container-back-form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-form-btn,
.back-form-btn {
    width: calc(100% - 40px);
    padding: 12px;
    border: none;
    border-radius: 14px;
    background-color: #007aff;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.login-form-btn:hover,
.back-form-btn:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .split-section {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .login-box {
        padding: 15px;
    }
}
