/* 

NÃO ADICIONAR IMAGENS OU CORES DE FUNDO!!!

*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


.pastas-container {
    flex-direction: column;
    height: 110vh;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.pastas-texts {
    margin-left: 13%; 
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}
.pastas-container .pastas-text p {
    font-weight: lighter;
    color: white;
    text-decoration: none;
}

.pastas-container .pastas-text h1 {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.pastas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 2%;
    position: relative;
}

.cards-container {
    margin-top: 10%;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    position: relative; /* Adicionado para o posicionamento do pseudo-elemento */
}


.card .foto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover .foto img {
    transform: scale(1.05);
}

.card .foto p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .photo {
        flex-direction: column; /* Redefine a direção do flex para coluna em dispositivos menores */
        margin-top: 10%;
    }
    .card {
        width: calc(50% - 20px); /* Redefine a largura do card para ocupar 50% da largura da tela em dispositivos menores */
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px); /* Redefine a largura do card para ocupar 100% da largura da tela em dispositivos muito pequenos */
    }
}