.tilt {
    perspective: 1000px;
}

.tilt:hover {
    transform: scale(1.03) rotateX(20deg) rotateY(15deg);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 5px 10px rgba(101, 101, 101, 0.4);
}
