<!DOCTYPE html>
<html lang="pt-br">
<body> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pastas.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tilt.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
        <title>Sobre Nós</title>
    </head>
    
    <header>
        <div class="logo-container">
            <!-- <img src="{{ url_for('static', filename='images/logo-original.png') }}" alt="Logo" class="logo"> -->
            <a href="{{ url_for('publicIndex') }}" class="logo">AEB Files</a>
        </div>

        <nav class="navbar">
            <a href="{{ url_for('documents') }}" class="navbar-item">Documentos</a>
            <a href="{{ url_for('news') }}" class="navbar-item">Notícias</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contatos</a>
            <a href="{{ url_for('about') }}" class="navbar-item">Sobre</a>
        </nav>
        <div>   
            <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
        </div>
    </header>


    <main>

        <div class="pastas-texts">
            <p class="text-pasta">Quem </p>
            <h1 class="h1-pasta">Somos</h1>
        </div> 
        
        <section class="startabout">
            <img class="img_aeb" src="static\uploads\carousel\ac614a71-e84b-4b3d-a955-76acd3e71c7c.jpeg" alt="Frente AEB">
            <div class="startabout_text">
                <p>A Agência Espacial Brasileira (AEB), autarquia vinculada ao Ministério da Ciência, Tecnologia e Inovações  (MCTI), é a instituição responsável por formular, coordenar e executar a Política Espacial Brasileira. Desde a sua criação, em fevereiro de 1994, a Agência trabalha para empreender os esforços do governo brasileiro na promoção  da autonomia do setor espacial.</p>
            </div>
        </section>
        
        

        <section class="miviva">
            <div class="miviva_2">
                <h2>Missão</h2>
                <h3>Coordenar e fortalecer o setor espacial nacional para o desenvolvimento da sociedade</h3>
            </div>
            <div class="miviva_2">
                <h2>Visão</h2>
                <h3>Ser a instituição estrategica de Estado Responsavel por conectar aos desafios da sociedade</h3>
            </div>
            <div class="miviva_2">
                <h2>Valores</h2>
                <h3>Autonomia<br>Inovação<br>Integridade<br>Sustentabilidade<br>Inclusão</h3>
            </div>
        </section>
    </main>
    
    <footer>
        <h1 class="footer-name">AEB - Agência Espacial Brasileira © 2024</h1>
        <div id="social-links" class="social-links"></div>
        <section class="footer-gov">   
            <div class="box_img">
                <img src="{{ url_for('static', filename='/images/Logo_PEB_transp.png') }}" alt="Logo PEB" class="PEB">
            </div>
            <div class="box_img">
                <img src="{{ url_for('static', filename='/images/logo-original.png') }}" alt="Logo AEB" class="AEB">
            </div>
            <div class="box_img">
                <img src="{{ url_for('static', filename='/images/MCTI.png') }}" alt="Logo MCTI" class="MCTI">
            </div>
            <div class="box_img">
                <img src="{{ url_for('static', filename='/images/GOVBR.png') }}" alt="Logo GOVBR" class="GOVBR">
            </div>
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Obtém o elemento do rodapé
                const footer = document.getElementById('social-links');
    
                // Array de objetos representando as redes sociais e seus links
                const socialMediaLinks = [
                    { name: 'Facebook', url: 'https://www.facebook.com/agenciaespacialbrasileira/' },
                    { name: 'LinkedIn', url: 'https://br.linkedin.com/company/agencia-espacial-brasileira-oficial' },
                    { name: 'Instagram', url: 'https://www.instagram.com/agenciaespacialbrasileira/' }
                ];
    
                // Adiciona os links ao rodapé
                socialMediaLinks.forEach(link => {
                    const anchor = document.createElement('a');
                    anchor.href = link.url;
                    anchor.target = '_blank';
                    anchor.innerText = link.name;
                    footer.appendChild(anchor);
                });
            });
        </script>
    </footer>
    
    <script>
        window.addEventListener('scroll', function() {
            var imagem = document.querySelector('.img_aeb');
            var scrollPosition = window.scrollY;

            if (scrollPosition > 100) { // ajuste este valor conforme necessário
                imagem.classList.add('escurecer');
            } else {
                imagem.classList.remove('escurecer');
            }
        });
    </script>
</body>
</html>