<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adminIndex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/space_background.css') }}">
    <title>AEB Files Admin</title>
    <!-- Adicione aqui seus links para folhas de estilo, scripts, etc. -->
</head>
<body>
    <div class="stars-container"></div>
    <div class="wave">

    <header>
        <h1>AEB Files</h1>
        <p>Olá, {{ ldap_username.split()[0] }}!</p>
    </header>

    <main>

        <div class="card">
            <form action="/create_folder" method="post" autocomplete="off">
                <label for="folderName">Nome da Pasta:</label>
                <input type="text" id="folderName" name="folder_name" required>        

                <div class="lanterna">
                    <label for="allowDownloads">Permitir Downloads:</label>
                    <div class="toggle-button">
                        <input type="checkbox" id="allowDownloadsToggle" onchange="toggleAllowDownloads()">
                        <label for="allowDownloadsToggle"></label>
                    </div>
                </div>
        
                <label for="folderInfo">Informações sobre a Pasta:</label>
                <textarea id="folderInfo" name="folderInfo" maxlength="500"></textarea>
        
                <button type="submit">Criar Pasta</button>
            </form>
        </div>

        <div class="card">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file">Selecione um arquivo:</label>
                <input type="file" id="file" name="file" accept="*/*" required>
                <label for="folder">Selecione a pasta:</label>
                <select id="folder" name="folder">
                    {% for folder in folders %}
                        <option value="{{ folder }}">{{ folder }}</option>
                    {% endfor %}
                </select>
                <div class="checkbox">
                    <input type="checkbox" id="setAsCover" name="setAsCover">
                    <label for="setAsCover">Definir como imagem de capa da pasta</label>
                </div>
                <button type="submit">Upload</button>
            </form>
        </div>

        <div class="card">
            <form action="/file_info" method="post">
                <label for="title">Título do Arquivo:</label>
                <input type="text" id="title" name="title">
                <label for="info">Informações do Arquivo:</label>
                <textarea id="info" name="info" maxlength="500"></textarea>
                
                <div class="lanterna">
                    <label for="allowDownloads">Permitir Downloads:</label>
                    <div class="toggle-button">
                        <input type="checkbox" id="allowDownloadsToggle" onchange="toggleAllowDownloads()">
                        <label for="allowDownloadsToggle"></label>
                    </div>
                </div>
        
                <button type="submit">Salvar Informações</button>
            </form>
        </div>

        <!-- Cards de pastas -->
        <section class="folders" id="folders">
            {% for folder in folders %}
            <a href="{{ url_for('show_folder', folder_name=folder) }}" class="card">
                <h2>{{ folder }}</h2>
                <div class="folder-gallery">
                    {% for image in folder_images[folder]['images'] %}
                    <img src="{{ url_for('static', filename='uploads/' + folder + '/' + image) }}" alt="Imagem">
                    {% endfor %}
                </div>
            </a>
            {% endfor %}
        </section>

    </main>

    <script src="{{ url_for('static', filename='js/vanilla-tilt.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stars.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            VanillaTilt.init(document.querySelectorAll('.tilt'), {
                max: 15,
                speed: 500
            });
        });
    </script>

</body>
</html>
