<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adminIndex.css') }}">
    <title>AEB Files Admin</title>
    <!-- Adicione aqui seus links para folhas de estilo, scripts, etc. -->
</head>
<body>

<!-- 1. Header -->
<header>
    <h1>AEB Files</h1>
    <p>Olá, {{ ldap_username.split()[0] }}!</p>
</header>

<!-- 2. Main Content -->
<main>
    <!-- 2.1 Cards -->
    <div class="card-container">
        <!-- Card 1: Criar Pasta -->
        <div class="card">
            <form action="/create_folder" method="post" autocomplete="off">
                <label for="folderName">Nome da Pasta:</label>
                <input type="text" id="folderName" name="folderName" required>
        
                <!-- Adicionando o toggle switch para permitir downloads -->
                <div class="lanterna">
                    <label for="allowDownloads">Permitir Downloads:</label>
                    <div class="toggle-button">
                        <input type="checkbox" id="allowDownloadsToggle" onchange="toggleAllowDownloads()">
                        <label for="allowDownloadsToggle"></label>
                    </div>
                </div>
        
                <!-- Adicionando campo para informações sobre a pasta -->
                <label for="folderInfo">Informações sobre a Pasta:</label>
                <textarea id="folderInfo" name="folderInfo" maxlength="500"></textarea>
        
                <button type="submit">Criar Pasta</button>
            </form>
        </div>        
    
        <!-- Card 2: Upload de Arquivos -->
        <div class="card">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file">Selecione um arquivo:</label>
                <input type="file" id="file" name="file" accept="*/*" required>
                <label for="folder">Selecione a pasta:</label>
                <select id="folder" name="folder">
                    {% for folder in folders %}
                        <option class="option-select" value="{{ folder }}">{{ folder }}</option>
                    {% endfor %}
                </select>
                <label for="fileType">Tipo de Arquivo:</label>
                <input type="text" id="fileType" name="fileType">
                <button type="submit">Upload</button>
            </form>
        </div>

        <!-- Card 3: Informações do Arquivo -->
        <div class="card">
            <form action="/file_info" method="post">
                <!-- Adicione os campos necessários para as informações do arquivo -->
                <label for="title">Título do Arquivo:</label>
                <input type="text" id="title" name="title">
                <label for="info">Informações do Arquivo:</label>
                <textarea id="info" name="info" maxlength="500"></textarea>
                
                <div class="lanterna">
                    <label for="allowDownloads">Permitir Downloads:</label>
                    <div class="toggle-button">
                        <input type="checkbox" id="allowDownloadsToggle" onchange="toggleAllowDownloads()">
                        <label for="allowDownloadsToggle"></label>
                    </div>
                </div>
        
                <button type="submit">Salvar Informações</button>
            </form>
        </div>
    </div>

    <!-- Card 4: Pastas -->
    <div class="full-width-card">
        {% for folder in folders %}
            <a href="{{ url_for('show_folder', folder_name=folder) }}" class="card">{{ folder }}</a>
        {% endfor %}
    </div>
</main>

<!-- Adicione aqui seus scripts, se necessário -->

</body>
</html>
