<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEBFiles - {{ folder_name }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/folder.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/space_background.css') }}">
</head>
<body>
    <div class="stars-container"></div>
    <div class="wave">
        
        <header>
            <div class="logo-container">
                <a href="{{ url_for('publicIndex') }}" class="logo">AEB Files</a>
            </div>

            <nav class="navbar">
                <a href="{{ url_for('publicIndex') }}" class="navbar-item">Home</a>
                <a href="{{ url_for('news') }}" class="navbar-item">Notícias</a>
                <a href="{{ url_for('contact') }}" class="navbar-item">Contatos</a>
                <a href="{{ url_for('about') }}" class="navbar-item">Sobre</a>
            </nav>
            <div class="login_margin">
                <a href="{{ url_for('login') }}" class="navbar-item_2">Login</a>
            </div>
            
        </header>

        <div class="gallery">
            {% if images %}
                {% for image in images %}
                    <div class="photo">
                        <img src="{{ url_for('view_image', folder_name=folder_name, image_name=image) }}" alt="{{ image }}">
                    </div>
                {% endfor %}
            {% else %}
                <p>Nenhuma imagem nesta pasta.</p>
            {% endif %}
        </div>

        <div id="imageModal" class="modal" style="display: none;">
            <span class="close">&times;</span>
            <img class="modal-content" id="img">
            <div id="caption"></div>
            
            <div id="imageMenu">
                <p id="imageInfo">Informações da imagem</p>
                <a href="" id="downloadLink" download>Download</a>
            </div>
        </div>
        

        <footer>
            <h1 class="footer-name">AEB - Agência Espacial Brasileira © 2024</h1>
            <div id="social-links" class="social-links"></div>
            <section class="footer-gov">   
                <div class="box_img">
                    <img src="{{ url_for('static', filename='/images/assinatura_gov.png') }}" alt="assinaturas" class="assinaturas">
                </div>
            </section>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Obtém o elemento do rodapé
                    const footer = document.getElementById('social-links');
        
                    // Array de objetos representando as redes sociais e seus links
                    const socialMediaLinks = [
                        { name: 'Facebook', url: 'https://www.facebook.com/agenciaespacialbrasileira/' },
                        { name: 'LinkedIn', url: 'https://br.linkedin.com/company/agencia-espacial-brasileira-oficial' },
                        { name: 'Instagram', url: 'https://www.instagram.com/agenciaespacialbrasileira/' }
                    ];
        
                    // Adiciona os links ao rodapé
                    socialMediaLinks.forEach(link => {
                        const anchor = document.createElement('a');
                        anchor.href = link.url;
                        anchor.target = '_blank';
                        anchor.innerText = link.name;
                        footer.appendChild(anchor);
                    });
                });
            </script>
        </footer>      
    </div>
    <script src="{{ url_for('static', filename='js/stars.js') }}"></script>
    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>
</body>
</html>
