<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrossel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pastas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tilt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <title>Documentos</title>

    <style>
       .scroll-arrow {
            position: fixed;
            bottom: 20px;
            right: 50%;
            cursor: pointer;
            animation: bounce 3s infinite;
        }

        .material-icons {
            font-size: 36px;
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-20px);
            }
            60% {
                transform: translateY(-10px);
            }
        }

    </style>
</head>
<body>
    <header>
        <div class="logo-container">
            <!-- <img src="{{ url_for('static', filename='images/logo-original.png') }}" alt="Logo" class="logo"> -->
            <a href="{{ url_for('publicIndex') }}" class="logo">AEB Files</a>
        </div>

        <nav class="navbar">
            <a href="{{ url_for('documents') }}" class="navbar-item">Documentos</a>
            <a href="{{ url_for('news') }}" class="navbar-item">Notícias</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contatos</a>
            <a href="{{ url_for('about') }}" class="navbar-item">Sobre</a>
        </nav>

        <div class="login_margin">
            <a href="{{ url_for('login') }}" class="navbar-item_2">Login</a>
        </div>
        
    </header>

    <main>
       <div>

       </div>
    </main>

    <footer>
        <h1 class="footer-name">AEB - Agência Espacial Brasileira © 2024</h1>
        <div id="social-links" class="social-links"></div>
        <section class="footer-gov">   
            <div class="box_img">
                <img src="{{ url_for('static', filename='/images/assinatura_gov.png') }}" alt="assinaturas" class="assinaturas">
            </div>
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Obtém o elemento do rodapé
                const footer = document.getElementById('social-links');
    
                // Array de objetos representando as redes sociais e seus links
                const socialMediaLinks = [
                    { name: 'Facebook', url: 'https://www.facebook.com/agenciaespacialbrasileira/' },
                    { name: 'LinkedIn', url: 'https://br.linkedin.com/company/agencia-espacial-brasileira-oficial' },
                    { name: 'Instagram', url: 'https://www.instagram.com/agenciaespacialbrasileira/' }
                ];
    
                // Adiciona os links ao rodapé
                socialMediaLinks.forEach(link => {
                    const anchor = document.createElement('a');
                    anchor.href = link.url;
                    anchor.target = '_blank';
                    anchor.innerText = link.name;
                    footer.appendChild(anchor);
                });
            });
        </script>
    </footer>

    <script>
        $(document).ready(function () {
            $("#menu-icon").click(function () {
                const sidebar = $("#sidebar");
                const menuIcon = $("#menu-icon span");

                if (sidebar.width() === 300) {
                    sidebar.animate({ width: "0" }, 500);
                    menuIcon.removeClass("rotate");
                    setTimeout(function () {
                        menuIcon.text("menu");
                    }, 250);
                } else {
                    sidebar.animate({ width: "300px" }, 500);
                    menuIcon.addClass("rotate");
                    setTimeout(function () {
                        menuIcon.text("clear");
                    }, 250);
                }
            });

            // Fechar o menu ao clicar fora dele
            $(document).click(function (event) {
                const sidebar = $("#sidebar");
                const menuIcon = $("#menu-icon span");

                if (!sidebar.is(event.target) && sidebar.has(event.target).length === 0 &&
                    !menuIcon.is(event.target) && menuIcon.has(event.target).length === 0) {
                    sidebar.animate({ width: "0" }, 500);
                    menuIcon.removeClass("rotate");
                    setTimeout(function () {
                        menuIcon.text("menu");
                    }, 250);
                }
            });
        });

        $(document).ready(function () {
            // Função para verificar se a seta deve ser exibida
            function checkArrowVisibility() {
                const carrosselSection = $("#carrossel");
                const scrollArrow = $(".scroll-arrow");

                const isScrolledIntoView = (elem) => {
                    const docViewTop = $(window).scrollTop();
                    const docViewBottom = docViewTop + $(window).height();
                    const elemTop = $(elem).offset().top;
                    const elemBottom = elemTop + $(elem).height();
                    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
                };

                // Se a seção do carrossel estiver visível, mostra a seta, caso contrário, oculta.
                if (isScrolledIntoView(carrosselSection)) {
                    scrollArrow.show();
                } else {
                    scrollArrow.hide();
                }
            }

            // Chame a função na inicialização e em eventos de rolagem
            checkArrowVisibility();

            // Atualize a visibilidade da seta quando a página for rolada
            $(window).scroll(function () {
                checkArrowVisibility();
            });

            // Role a página até o conteúdo ao clicar na seta
            $(".scroll-arrow").click(function () {
                const targetSection = $(".pastas");  // Substitua pelo seletor do destino desejado
                $("html, body").animate({ scrollTop: targetSection.offset().top }, 1000);
            });
        });
    </script>

</body>
</html>